@import 'config';

$base-font-size : 16px !default;
$base-color: $soft-black !default; // text color on body and content

$h1-size: 3.6rem !default;

$font-stack-common: "Open Sans", Helvetica, Arial, sans-serif !default; // common font
$font-stack-headings: "Open Sans", Helvetica, Arial, sans-serif !default; // headings font

$fa-font-path: "/css/font-awesome/fonts" !default;

@import 'font-awesome/scss/font-awesome';
@import 'KNACSS/sass/knacss.scss';

@import 'header';
@import 'style';
