body > header {
  height: $height-header;

  background-image: url('/images/header.jpg');

  #presentation {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    position: relative;

    margin: auto;

    width: 90%;
    max-width: $width-content;
    height: $height-header + $position-top;
    line-height: $height-header;

    #image {

      position: relative;

      overflow: hidden;

    }

    #image:hover {
      #photo {
        transition: all 0.5s;
        bottom: -20px;
      }
    }

    #image, #cercle {
      position: relative;

      width: $width-image;
      height: $width-image;

      background-color: white;
      background-size: cover;

      border-radius: 100%;

      .main {
        position: absolute;

        display: inline-block;
        width: 48px;
      }

      #gauche {
        bottom: -15px;
        left: 0;
        @include rotate(50deg);
      }

      #droite {
        bottom: -20px;
        right: 0;
        @include rotate(-46deg);

        // bottom: -30px;
        // right: 15px;
        // @include rotate(-34deg);
      }

      #photo {
        position: relative;
        left: 5px;
        bottom: -110px;
        transition: all 0.5s;

        display: block;
        width: 130px;
        margin: auto;
      }
    }

    #catchphrase {
      display: block;

      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

      text-align: justify;

      width: $width-content - $width-image;
      padding: 0 $padding 0 $padding;

      font-weight: 300;
      font-size: 1.7em;
      color: #F6F8F9;

      @media screen and (max-width: $breakpointOneCard) {
        margin-top: 40px;
      }
    }
  }
}
