[submodule "talks/jug-event-store"]
	path = talks/jug-event-store
	url = git@github.com:ThibaudDauce/jug-event-store.git
[submodule "talks/jug-internet"]
	path = talks/jug-internet
	url = git@github.com:ThibaudDauce/jug-internet.git
[submodule "talks/wild-code-school-decouverte-laravel"]
	path = talks/wild-code-school-decouverte-laravel
	url = git@framagit.org:ThibaudDauce/wild-code-school-decouverte-laravel.git
[submodule "talks/orleans-tech-event-sourcing"]
	path = talks/orleans-tech-event-sourcing
	url = git@framagit.org:ThibaudDauce/orleans-tech-event-sourcing.git
[submodule "talks/orleans-tech-programmation-fonctionnelle"]
	path = talks/orleans-tech-programmation-fonctionnelle
	url = git@framagit.org:ThibaudDauce/orleans-tech-programmation-fonctionnelle
[submodule "talks/afup-tours-programmation-fonctionnelle"]
	path = talks/afup-tours-programmation-fonctionnelle
	url = git@gitlab.com:thibauddauce/afup-tours-programmation-fonctionnelle.git
