<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="initial-scale=1.0">
	<meta charset="UTF-8">
	<meta name="description" content="Hey! I'm Thibaud Dauce, technology nerd and dreamer of adventure." />

	<title>$title$ – Thibaud Dauce</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="alternate" type="application/rss+xml" title="Thibaud Dauce's blog" href="/feed.xml">
	<link rel="alternate" type="application/atom+xml" title="Thibaud Dauce's blog" href="/atom.xml">
	<link rel="shortcut icon" href="/images/favicon.png">
	<link rel="stylesheet" href="/css/thibaud.css">
</head>
<body id="top">
	<header>
		<div id="presentation">
			<div id="cercle">
				<div id="image">
					<a href="/">
						<img src="/images/photo.png" alt="Photo" id="photo">
					</a>
				</div>
				<img src="/images/droite.png" alt="Main gauche" id="gauche" class="main">
				<img src="/images/gauche.png" alt="Main droite" id="droite" class="main">
			</div>
			<div id="catchphrase"><p>Hey! I'm Thibaud, technology nerd and dreamer of adventure.</p></div>
		</div>
	</header>

	<section id="content">
		$body$

		<a href="#top" id="up">
			<i class="fa fa-chevron-up"></i>
		</a>
	</section>

	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="https://analytics.quantic-telecom.net/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 4]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//analytics.quantic-telecom.net/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
</body>
</html>
